<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header')%>
        <title>Blog</title>
</head>

<body>
    <%- include("./partials/nav") %>

        <div class="container mt-4">
            <h1>
                <%= blog.title %>
            </h1>
            <img src="/uploads/<%= blog.coverImageURL %>" alt="" width="800px" class="img-fluid my-3">
            <pre class="mt-3" style="white-space: pre-wrap;"><%= blog.body %></pre>
        </div>
        <div class="container mt-4">
            <img src="<%= blog.createdBy.profileImageURL.replace("./public","") %>" width="50px" alt="creator-img">
            <%= blog.createdBy.fullName %>
        </div>

        <div class="container mt-3">
            <h1>Comments{<%= comments.length %>}</h1>
            <% if (locals.user) { %>
                <form action="/blog/comment/<%= blog._id %>" method="post">
                    <div class="mb-3">
                        <input type="text" name="content" class="form-control" placeholder="Enter Your Comments">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>
                
                <% } %>

                <div class="mt-3">
                    <% comments.forEach(comment=> { %>
                        <div>
                            <img src="<%= comment.createdBy.profileImageURL.replace("./public","")  %>" width="50px" alt="">
                            <%= comment.createdBy.fullName %>:
                                <pre><%= comment.content %></pre>
                        </div>
                        <% }) %>
                </div>

        </div>

        <%- include('./partials/script') %>
</body>

</html>